@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Boogaloo');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Boogaloo', cursive;
}
.outside-container{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.newsletter-area{
	width: 450px;
	height: 550px;
	margin: auto;
	border-radius: 15px;
	box-shadow: 0px 0px 16px 3px black;
	overflow: hidden !important;
	background-color: white;
}
.newsletter-top{
	width: 450px;
	display: flex;
	height: 200px;
	background-image: linear-gradient(to right top, #ff0f00, #ff3b00, #ff5400, #ff6700, #ff7800);
}
.img-responsive{
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}
.newsletter-logo{
	width: 110px;
	height: 110px;
	margin: auto;
}
.subscribe-title{
	font-size: 55px;
	font-weight: 600;
	margin: 10px auto;
	color: #FF4700;
	text-shadow: 0px 0px 3px yellow;
}
.subscribe-text{
	font-size: 17px;
	padding: 10px;
	margin-bottom: 25px;
	color: #262626;
	border-bottom: 3px dashed rgba(103,0,0,0.5);
}
.email-box{
	width: 70%;
	height: 45px;
	display: inherit;
	margin: 10px auto;
	font-size: 18px;
	text-align: center;
	border-radius: 10px;
	color: orangered;
	border: none;
	box-shadow: 0px 0px 8px 2px black;
}
.submit-button{
	width: 150px;
	height: 50px;
	background-image: linear-gradient(to right top, #ff0f00, #ff3b00, #ff5400, #ff6700, #ff7800);
	margin: 10px auto;
	border: none;
	font-size: 26px;
	text-transform: uppercase;
	color: white;
	text-shadow: 0px 0px 2px black;
	border-radius: 25px;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}
.submit-button:hover{
	transform: scale(1.1);
}
.email-message{
	width: 100%;
	display: inherit;
	font-size: 20px;
	font-weight: 500;
	color: rgba(255,39,0,1.00);
	padding: 10px auto;
}